:root {
    --pokeYellow: rgb(255, 222, 0);
    --pokeRed: rgb(255, 0, 0);
    --pokeDarkRed: rgb(204, 0, 0);
    --pokeBlue: rgb(59, 76, 202);
    --pokeGold: rgb(179, 161, 37);
    --pokeBorder: -webkit-text-stroke: 2px black;
}

.add-btn {
    background-color: var(--pokeRed);
    color: var(--pokeYellow);
    text-align: center;
    font-size: 8px;

}

section .list-output {
    background-color: whitesmoke;
    width: 90%;
    margin: auto;
    padding: 10px;

}

.list-output {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    margin: 10px;
    grid-gap: 0px 10px;
}

* {
    margin: 0;
}

.custom-direction {
    display: flex;
    /* flex-direction: column; */
}

.custom-column2 {
    flex-direction: row;
    background-color: green;
}

.custom-column1 {
    flex-direction: row;
    background-color: blue;
}

.custom-column3 {
    flex-direction: row;
    background-color: rgb(128, 0, 6);
}

button {
    font-family: 'Paytone One', sans-serif;

}

#pokemon-name {
    position: relative;
    text-align: center;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 3vmin;
}

#pokemon-stats {
    position: relative;
    text-align: center;
    font-family: Montserrat;
    font-size: 4vmin;
}

#pokemon-img {
    position: relative;
    z-index: 100;
    padding-top: 2rem;
    padding-bottom: 0;
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;

}

.pagbtn {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    top: 50%;
    position: sticky;
    z-index: 800;
    height: 100%;
    background-color: transparent!important;
}

.pagbtn i{
    color: grey;
}

.pagbtn button{
    background-color: black!important;
    opacity: 15%;
    height: 90px;
}


/* code below is for onhover for stats */
.container-fluid {
    overflow: hidden;
}

.info-card-div {
    background-color: rgba(242, 242, 248, 0.897);
    
    background-color: rgba(242, 242, 248, 0.897);
    
}

.hover-wrapper {
    display: none;
}

.parent:hover .hover-wrapper {
    display: block;
   position: absolute;
   z-index: 100;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background-color:rgba(246, 246, 250, 0.7) ;
}



.hover-wrapper {
    display: none;
}

.parent:hover .hover-wrapper {
    display: block;
   position: absolute;
   z-index: 100;
   height: 90%;
   width: 90%;
   top: 20px;
   left: 5px;
   right: 5px;
   background-color:rgba(246, 246, 250, 0.7) ;
}



.pagbtn button{
    background-color: whitesmoke;
}

/* section .search-wrap {
    background-color: whitesmoke;
   position: absolute;
   z-index: 100;
   height: 90%;
   width: 90%;
   top: 20px;
   left: 5px;
   right: 5px;
   background-color:rgba(246, 246, 250, 0.7) ;
}



.pagbtn button{
    background-color: whitesmoke;
}

/* section .search-wrap {
    background-color: whitesmoke;
    width: 100%;



} */

.searched-output-section{
    display: grid;
    width: auto;
    margin: auto;
}
.barContainer {
    
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
}

.skill{
    background-color: rgb(50, 51, 49,.25);       
    color: white;
            padding: 2%;
            text-align: right;
            font-size: 9px;
border-top-right-radius:15px ;
border-bottom-right-radius:15px ;
}

li, .dropdown-item{
    background-color: rgb(50, 51, 49,.25);
    color: white;
}